* {
  margin: 0;
  padding: 0;
}

:root {
  --dark-gray: #333;
  --grey: #666;
  --green: #9fcc16;
  --orange: #f78d1e;
  --blue: #1eadf7;
  --background: #111;
  --min-section-height: 40rem;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--background);
  min-width: 81rem;
}

/* Google maps remove unnecessary attrs */

/* a[href^="http://maps.google.com/maps"],
a[href^="https://maps.google.com/maps"],
a[href^="https://www.google.com/maps"] {
    display: none !important;
}
.gm-bundled-control .gmnoprint {
    display: block;
}
.gmnoprint:not(.gm-bundled-control) {
    display: none;
} */
