.root {
  height: 100vh;
  min-height: 28.125rem;
  background: linear-gradient(
      90deg,
      rgba(17, 17, 17, 0.5) 0%,
      rgba(17, 17, 17, 0) 100%
    ),
    url("./bg.jpg") no-repeat;
  background-size: cover;
  position: relative;
}

.logo {
  line-height: 0;
  background: url("../spdev_logo.svg") no-repeat;
  height: 15rem;
  position: absolute;
  top: 20%;
  width: 100%;
}

.stripe {
  position: absolute;
  bottom: 10%;
  width: calc(100% - 6rem);
}

.text {
  letter-spacing: .047rem;
  color: #fff;
}

.title {
  font-size: 1.5rem;
  line-height: 1.813rem;
}

.sub {
  margin-top: 1.5rem;
  font-size: 1.125rem;
  line-height: 1.375rem;
  opacity: .6;
}

.btn {
  margin-left: 3rem;
}