.root {
  height: 100vh;
  background: linear-gradient(
      90deg,
      rgba(17, 17, 17, 0.5) 0%,
      rgba(17, 17, 17, 0) 100%
    ),
    url("./bg.jpg") no-repeat;
  background-size: cover;
}

.title {
  font-size: 1.5rem;
  line-height: 1.8125rem;
  letter-spacing: .047rem;
  color: #fff;
}
