.root {
  --block-width: 42.5rem;
  box-shadow: 0 0.125rem 0.3rem rgba(0, 0, 0, 0.2),
    0 0.06rem 0.6rem rgba(0, 0, 0, 0.12), 0 0.3rem 0.3rem rgba(0, 0, 0, 0.14);
  border-radius: 0.75rem;
  width: 26.438rem;
  height: var(--block-width);
  position: relative;
  overflow: hidden;
  transition: width 0.5s;
  display: none;
}

.mobile {
  display: block;
  width: 100%;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0.125rem 0.3rem rgba(0, 0, 0, 0.2),
    0 0.06rem 0.6rem rgba(0, 0, 0, 0.12), 0 0.3rem 0.3rem rgba(0, 0, 0, 0.14);
  border-radius: 0.75rem;
  color: #fff;
}

.mobile:not(:first-child) {
  margin-top: 5rem;
}

.mobile .img {
  height: 100%;
}

.mobile .btn {
  display: none;
}

.mobile .stripe {
  display: block;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 2rem;
}

.mobile .detail .title {
  margin-left: 0;
}

.mobile .sub {
  font-size: 1.2rem;
  padding: 0 1rem;
  line-height: 1.8rem;
}

.mobile .serviceTitle {
  font-size: 1.5rem;
  text-align: center;
}

.mobile .sub br {
  display: none;
}

.mobile .description {
  opacity: 1;
  margin-top: 0;
  transform: none;
  width: 100%;
  font-size: 0.9rem;
}

.mobile .right {
  margin-top: 1.5rem;
  justify-content: flex-start;
}

.mobile .tech {
  width: 2rem;
  height: 2rem;
  background-size: contain;
}

.large {
  width: 300%;
}

.small {
  display: flex;
  justify-content: center;
  align-items: center;
}

.small .title {
  white-space: nowrap;
  transform: rotate(-90deg);
  width: var(--block-width);
  opacity: 0;
  animation: appear 0.5s 0.5s forwards;
}

.root:not(:last-child) {
  margin-right: 2.563rem;
}

.root::after {
  content: "";
  display: block;
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  z-index: 1;
  background: linear-gradient(
    180deg,
    rgba(17, 17, 17, 0.25) 0%,
    rgba(17, 17, 17, 0.75) 100%
  );
  transition: opacity 0.5s;
  will-change: opacity;
  opacity: 0;
}

.root:not(.active):not(.small):hover::after {
  opacity: 1;
}

.img {
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  width: inherit;
  height: inherit;
  position: absolute;
  transform: scale(1.06);
  z-index: 0;
  transition: transform 0.5s;
  will-change: transform;
  width: 100%;
}

.root:not(.active):not(.small):hover .img {
  transform: scale(1.11);
}

.text {
  color: #fff;
  position: relative;
  z-index: 2;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  transform: translateY(30%);
  transition: transform 0.5s;
  will-change: transform;
}

.brief {
  opacity: 0;
  animation: appearIn 0.5s 0.8s forwards;
}

.root:hover .text {
  transform: translateY(8%);
}

.line {
  padding-bottom: 1.5rem;
  border-bottom: 0.16rem solid rgba(255, 255, 255, 0.12);
  width: 0%;
  transition: width 0.5s;
  will-change: contents;
}

.root:hover .line {
  width: 80%;
}

.description {
  margin-top: 1rem;
  font-size: 1.125rem;
  line-height: 1.5rem;
  letter-spacing: 0.047rem;
  width: 80%;
  opacity: 0;
  transform: translateY(10%);
  transition: transform 0.5s, opacity 0.5s;
  will-change: transform, opacity;
}

.large .description {
  color: rgba(255, 255, 255, 0.6);
  opacity: 1;
  margin: 0;
  max-width: 51rem;
  transform: none;
}

.large .dp:last-child {
  margin-top: 1rem;
}

.root:not(.active):hover .description {
  opacity: 1;
  transform: translate(0);
}

.dp:last-child {
  margin-top: 2rem;
}

.btnWrap {
  margin-top: 30%;
  opacity: 0;
  transition: opacity 0.5s;
  will-change: opacity;
}

.root:hover .btnWrap {
  opacity: 1;
}

.detail {
  opacity: 0;
  animation: appear 0.5s 0.5s forwards;
  position: relative;
  height: 100%;
  z-index: 2;
}

.btn {
  margin-top: 2.5rem;
  margin-left: 4.5rem;
}

.icon {
  width: 0.8rem;
  height: 0.5rem;
  transform: rotate(90deg);
}

.detail .title {
  margin-top: 2rem;
  margin-left: 6rem;
}

.sub {
  color: #fff;
  font-size: 2.125rem;
  line-height: 2.25rem;
}

.stripe {
  margin-top: 7rem;
  padding: 1.5rem 6rem;
  justify-content: space-between;
}

.right {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.tech {
  background-repeat: no-repeat;
  width: 4rem;
  height: 4rem;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes appearIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (min-width: 26.563rem) {
  .mobile .stripe {
    margin-top: 6rem;
  }

  .mobile .serviceTitle {
    font-size: 2.2rem;
  }

  .mobile .sub {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .mobile .description {
    font-size: 1rem;
  }

  .mobile .tech {
    width: 3rem;
    height: 3rem;
  }
}

@media (min-width: 31.438rem) {
  .mobile .serviceTitle {
    font-size: 2.5rem;
  }

  .mobile .sub {
    text-align: center;
  }
}

@media (min-width: 37.063rem) {
  .mobile .serviceTitle {
    font-size: 3.5rem;
  }

  .mobile .sub {
    font-size: 2.125rem;
    line-height: 2.25rem;
  }

  .mobile .description {
    font-size: 1.125rem;
  }

  .mobile .tech {
    width: 4rem;
    height: 4rem;
  }
}

@media (min-width: 50rem) {
  .mobile .stripe {
    display: flex;
    padding-left: 2rem;
    margin-top: 6rem;
  }

  .mobile .right {
    margin-top: 0;
    margin-left: 1rem;
  }
}

@media (min-width: 81rem) {
  .root {
    display: flex;
  }

  .mobile {
    display: none;
  }
}
