.root {
  color: #fff;
}

.wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column-reverse;
  margin-top: 8.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.title {
  font-size: 2.125rem;
  line-height: 2.25rem;
  text-transform: uppercase;
}

.subtitle {
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 1rem;
}

.form {
  max-width: 28rem;
  width: 100%;
  margin-top: 8.5rem;
}

.firstInput {
  margin-top: 3rem;
}

.location {
  margin-top: 5rem;
}

.contactLink {
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  line-height: 1.5rem;
}

.contact .subtitle {
  margin-bottom: 6.75rem;
}

.location div:first-child,
.join {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 1.5rem;
}

.location div:not(:last-child) {
  margin-bottom: 0.75rem;
}

.join {
  margin-top: 7.7rem;
}

.checkbox {
  margin-top: 1.75rem;
  margin-bottom: 1rem;
}

.checkboxLabel {
  color: #fff;
}

.btn {
  display: block;
  width: 11rem;
  margin-top: 1.75rem;
}

.comeHere {
  color: var(--blue);
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  margin-top: 1.75rem;
}

.comeHereIcon {
  height: 1.125rem;
  width: 1.125rem;
  margin-left: 0.688rem;
}

@media (min-width: 75rem) {
  .wrapper {
    align-items: initial;
    flex-direction: row;
    padding-left: initial;
    padding-right: initial;
  }

  .form {
    margin-top: initial;
  }
}

.debug {
  display: none;
}
