.root {
  height: 100vh;
  min-height: var(--min-section-height);
  max-height: 75rem;
  padding: 0 4rem;
}

.container {
  width: 100%;
  height: 100%;
  perspective: 50vw;
  padding-bottom: 1rem;
}

.content {
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: relative;
}

.slider {
  width: 66%;
  height: 100%;
  margin-left: -2.2rem;
  transform: rotateY(45deg);
  transform-origin: 0 50%;
}

.gradientWrap {
  position: absolute;
  top: 0;
  left: -4rem;
  width: calc(71% + 6.7rem);
  bottom: 0;
  overflow: hidden;
  pointer-events: none;
}
.gradient {
  position: absolute;
  left: -3rem;
  right: 0;
  top: 100%;
  margin-top: -2rem;
  height: 100vw;
  display: block;
  content: "";
  background: rgba(196, 196, 196, 0.18);
  transform: rotateY(45deg) skewY(-1.5deg);
  transform-origin: 0 0;
}

.slider :global(.slick-list),
.slider :global(.slick-track),
.slider :global(.slick-slide),
.slider :global(.slick-slide > div) {
  height: 100%;
}

.slider :global(.slick-list) {
  overflow: visible;
}

.slide {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 0 2rem;
  outline: none !important;
}

.image {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.descWrap {
  position: absolute;
  left: 50%;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.desc {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  max-height: 100%;
  background: rgba(17, 17, 17, 0.9);
  color: white;
  padding: 64px 40px 80px;
}

.text {
  font-size: 18px;
  line-height: 24px;
}

.text p {
  margin-top: 20px;
  letter-spacing: 0.75px;
}

.text h1,
.text h2,
.text h3,
.text h4,
.text h5,
.text h6 {
  font-weight: bold;
  font-size: 80px;
  line-height: 98px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.fadeSlider,
.fadeSlider :global(.slick-list),
.fadeSlider :global(.slick-track),
.fadeSlider :global(.slick-slide),
.fadeSlider :global(.slick-slide > div) {
  height: 100%;
}

.fadeSlider :global(.slick-slide:not(.slick-current)) {
  transition: opacity 200ms ease-out 0s, visibility 10ms ease 200ms !important;
}

.fadeSlider :global(.slick-slide.slick-current) {
  transition: opacity 600ms ease 200ms, visibility 10ms ease 200ms !important;
}

.nav {
  position: absolute;
  left: -2rem;
  top: 50%;
  transform: translateY(-50%);
}

.nav li {
  display: block;
  margin: 1rem 0;
}

.button {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background: #666666;
  box-shadow: none;
  border: none;
  cursor: pointer;
  outline: none !important;
  transition: background-color 0.3s ease;
}

.button.active {
  background: #fff;
  box-shadow: 0 0 1rem #fff;
  cursor: default;
}
