.root {
  background: var(--background);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2), 0px 2px 1px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14);
  border-radius: 24px;
  border: 2px solid #fff;
  padding: 12px 24px;
  letter-spacing: .047rem;
  font-weight: bold;
  font-family: inherit;
  font-size: 1.125rem;
  line-height: 1.5rem;
  text-transform: uppercase;
  color: #fff;
  outline: transparent;
  cursor: pointer;
  white-space: nowrap
}