.root {
  max-width: 28rem;
  width: 100%;
}

.input {
  display: block;
  padding: 1rem .125rem 1rem 1rem;
  background-color: #222;
  border-radius: .25rem .25rem 0 0;
  border: none;
  color: rgba(255, 255, 255, 0.6);
  width: 100%;
  margin-top: 2rem;
  outline: none;
  font-size: 1rem;
  font-family: inherit;
  line-height: 1.5rem;
  border-bottom: .06rem solid #fff;
  resize: none;
  box-sizing: border-box;
  transition: border-width .1s;
}

.input:not(textarea) {
  height: 3.5rem;
}

.input:focus {
  border-bottom-width: .16rem;
}

.input:first-child {
  margin-top: 3rem;
}
