.root {
  background: var(--background);
  box-shadow: 0rem 0.063rem 0.188rem rgba(0, 0, 0, 0.2),
    0rem 0.125rem 0.063rem rgba(0, 0, 0, 0.12),
    0rem 0.063rem 0.063rem rgba(0, 0, 0, 0.14);
  border-radius: 1.5rem;
  border: 0.125rem solid #fff;
  padding: 0.5rem 1rem;
  letter-spacing: 0.047rem;
  color: #fff;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: bold;
  font-family: inherit;
  text-transform: uppercase;
  cursor: pointer;
  white-space: nowrap;
  outline: transparent;
  transition: 0.3s;
}

.root:disabled {
  color: #b1a8a8;
  border-color: #b1a8a8;
  cursor: context-menu;
}

.round {
  border-radius: 50%;
  border: none;
  width: 3rem;
  height: 3rem;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0rem 0.125rem 0.25rem rgba(0, 0, 0, 0.2),
    0rem 0.063rem 0.625rem rgba(0, 0, 0, 0.12),
    0rem 0.25rem 0.313rem rgba(0, 0, 0, 0.14);
}

@media (min-width: 50rem) {
  .root {
    font-size: 1.125rem;
    line-height: 1.5rem;
  }

  .root:not(.round) {
    padding: 0.75rem 1.5rem;
  }
}
