.root {
  background: var(--background);
}

.wrap {
  padding: 0 2rem;
  display: flex;
  justify-content: center;
  margin-top: 7.5rem;
}

.activeTitle1 {
  color: var(--green);
  text-shadow: .2rem .2rem .5rem var(--green);
}

.activeTitle2 {
  color: var(--blue);
  text-shadow: .2rem .2rem .5rem var(--blue);
}

.activeTitle3 {
  color: var(--orange);
  text-shadow: .2rem .2rem .5rem var(--orange);
}

.cap {
  text-transform: capitalize;
}

.up {
  text-transform: uppercase;
}

.s1 {
  background-image: url('./site_design.jpg');
}

.a {
  background-image: url('./99.svg');
}

.b {
  background-image: url('./100.svg');
}

.c {
  background-image: url('./101.svg');
}

.d {
  background-image: url('./102.svg');
}

.e {
  background-image: url('./103.svg');
}

.f {
  background-image: url('./104.svg');
}

.g {
  background-image: url('./105.svg');
}

.h {
  background-image: url('./106.svg');
}

.i {
  background-image: url('./107.svg');
}

.j {
  background-image: url('./108.svg');
}
